In [ ]:
import pandas as pd
import numpy as np
import re

#### Задача 1. 

Откройте датасет "Covid Live", посмотрите первые пять его строчек. Переименуйте названия колонок таким образом, чтобы было:

    Country,\nOther => Country_Other
    Total\nCases => Total_Cases
    Deaths/\n1M pop => Deaths_1M pop
    
То есть, чтобы не было пробелов и было удобно выделять название колонки по двойному щелчку.
    
(Для последней задачи понадобится написать простенькую регулярку).

In [ ]:
# your code here

Выведите информацию по датасету. Попробуйте понять, что там за данные хранятся.

In [ ]:
# your code here

#### Задача 2. 

Давайте наш датасет почистим: нам, скорее всего, понадобятся не все колонки, + хотелось бы избавиться от пропущенных значений NaN. Посмотрите, сколько в итоге останется строк в таблице. Обратите внимание на тип данных: не нужно ли нам его поменять?

In [ ]:
# your code here

#### Задача 3. 

Давайте сменим тип данных на правильный. Заметьте, это не так просто: в наших данных что-то будет вам мешать.

In [ ]:
# your code here

#### Задача 4. 

Посчитайте, сколько, по этим данным, всего умерло людей от ковида. А сколько выздоровело?

In [ ]:
# your code here

#### Задача 5. 

Добавим новую колонку к нашей таблице: 'death_to_recovered', а в ней посчитаем соотношение смертей к выздоровевшим. Страна с наименьшим таким значением - удачливее всех :). Попробуем отсортировать табличку по этим значениям (используйте метод DataFrame.sort_values(column)).

In [ ]:
# your code here

#### Задача 6. 

Откроем новый датасет: в нем собрана информация про мобильные телефоны, их характеристики и ценовой диапазон. Посмотрите, какие там есть колонки, прикиньте, что они могут означать. Проверьте, есть ли в этом датасете пропущенные значения.

In [ ]:
# your code here

#### Задача 7. 

Сгруппируйте таблицу по колонке "диапазон цены", посчитайте средние значения остальных колонок: удостоверимся, что параметры действительно зависят от цены.

In [ ]:
# your code here

Бонус: давайте на графике посмотрим, как взаимодействуют друг с другом телефонные параметры. Попробуйте проанализировать график и понять, что на нем изображено.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(20, 12))

corr = data.corr()
sns.heatmap(corr, 
            annot=True, linewidths=.5, fmt='.2f',
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values,
            cmap=sns.diverging_palette(100, 200, as_cmap=True), square=True)
plt.show()